<div class="row">
  <div class="col-md-12">
    <a class="btn btn-primary pull-right" href="/search">
      Try Again
    </a>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    Search results here
    <% for result in  @studentsResults %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= result.student_name %>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12">
              Major:
              <% for major in result.majors %>
              <%= major.major_name %>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              Dorm: <%= result.dorm.dorm_name %> <%= result.dorm_room_number %>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              Class Year: <%= result.class_year %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
