<div class="panel panel-default">
    <div class="panel-heading">
        <%= result.student_name %>
    </div>
    <div class="panel-body">
        <div class="row">
          <div class="col-sm-8 col-xs-12">
            <div class="row">
              <div class="col-xs-12">
                  Major:
                  <% result.majors.each do |major| %>
                  <%= major.major_name %>
                  <% end %>
              </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    Dorm: <%= result.dorm.dorm_name %> <%= result.dorm_room_number %>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    Class Year: <%= result.class_year %>
                </div>
            </div>
          </div>
          <div class="col-sm-4 col-xs-12">
            <%= image_tag "people/#{result.student_email}.jpg", class: "search-photo pull-right" %>
          </div>
        </div>
    </div>
</div>
