<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ScrewDate</title>
</head>

<body>
  <%= render "shared/nav" %>
  <div class = "container">
    <div class="row">
      <div class="col-md-12">
        <h1>Search for your ScrewDate</h1>
      </div>
    </div>
  </div>

  <div class = "container">
    <div class = "row">
      <ul>
        <form method="link" action="#">
          <li>
          <p>Name</p>
          <input type="text" class="form-control" name="name" />
          </li>
          <li>
            <p>Year</p>
            <%= select_tag :classYear, options_for_select(@years),
            { :class => 'form-control', :include_blank => 'All' } %>
          </li>
          <li>
            <p>Dorm</p>
            <%= select_tag :dormName, options_for_select(@dorms),
              { :class => 'form-control', :include_blank => 'All' } %>
          </li>
          <li>
            <p>Floor</p>
            <!-- we should make this change based off of the dorm selection because duh -->
            <%= select_tag :floor, options_for_select(@floors),
              { :class => 'form-control', :include_blank => 'All' } %>
          </li>
          <li>
            <p>Major</p>
            <%= select_tag :major, options_for_select(@majors),
              { :class => 'form-control', :include_blank => 'All' } %>
          </li>
          <li>
            <p>
              <button type="submit" class="btn btn-default" id="dateSearch">Find a date!</button>
            </p>
          </li>
        </form>
      </ul>
    </div>
  </div>


</body>

</html>
